/node_modules/
/lib/
/test/
custom-elements.json
# top level source
my-element.js
my-element.js.map
my-element.d.ts
my-element.d.ts.map
todo-list.js
todo-list.js.map
todo-list.d.ts
todo-list.d.ts.map
# only generated for size check
my-element.bundled.js
todo-list.bundled.js